* {
    overflow: hidden;
}

.Contenedor-Presentacion {
    text-align: center;
    height: "95vh";
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.Contenedor-Presentacion button{
    color: black;
    background-color: white;
    border-radius: 16px;
}

.Juego-Serpiente {
    height: 80vh;
    width: 92vw;
    margin-top: 1%;
    margin-bottom:  1%;
    margin-left:  3%;
    margin-right:  3%;
    border: 1px solid #000;
    border-radius: 16px;
}

#Tablero {
    position: relative;
    top: 6vh;
    left: 3vh;
    height: 60vh;
    width: 60vh;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: #888 5px 15px 30px;
}

#Tablero canvas{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

/*Puntaje*/
.Marcador {
    position: relative;
    top: 3vh;
    left: 3vh;
    height: 10vh;
    width: 40vh;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    float: left;
}

.Marcador .Numero{
    margin-top: 2vh;
    margin-left: 1vh;
}

.Reloj {
    position: relative;
    top: 3vh;
    left: 6vh;
    height: 10vh;
    width: 40vh;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
}

.Reloj h1{
    margin-top: 2vh;
    margin-left: 1vh;
}


/*Boton*/
.Boton {
    position: relative;
    top: 3vh;
    left: 84vw;
    height: 10vh;
    width: 10vh;
    border: 1px solid #000;
    border-radius: 8px;
}

